div.home-page-background {
    width: 100vw;
    height: 100vh;
    /* background-image: url(../../images/abstract.png); */
    background-color: #f2f4f8;
    background-size: cover;
    z-index: -1;
}

.home-page,
.home-wraper,
.home,
.home-main header,
.home-menu .nav-menu {
    display: grid;
}

.home-page {
    width: 100vw;
    height: 100vh;
    background-color: #e7eaf0;
    opacity: 0.4;
    place-items: center;
    z-index: 0;
}

.home-wraper {
    width: 90vw;
    height: 80vh;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 40px;
}

.home {
    padding: 20px;
    grid-template-columns: 50px 1fr;
    z-index: 10;
    color: #000000;
}

.home header {
    text-align: center;
    margin: 20px;
}

.home-main {
    display: grid;
    grid-template-rows: 58px 1fr;
}

/* Home Sections */

.home-sections {
    display: grid;
    grid-template: "accounts payments" 1fr "activity activity" 1fr / 1fr 1fr;
    padding: 30px;
    gap: 2rem;
}

.activity-section {
    display: grid;
    grid-area: activity;
    overflow-y: scroll;
}

.accounts-section {
    display: grid;
    grid-area: accounts;
}

.payments-section {
    display: grid;
    grid-area: payments;
}

.home-sections section {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    height: 200px;
    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 7px;
}

.home-menu {
    display: grid;
    place-items: center;
    border-right: 1px solid #a1a1a1;
}

.home-menu .nav-menu {
    grid-template-rows: auto-fit;
}

.home-main header {
    place-items: center start;
    grid-template-columns: 1fr 100px;
}

.sign-out-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Profile */

.profile-page,
.profile-container,
.profile-header,
.profile-main,
.profile-data,
.profile-data div {
    display: grid;
}

.profile-page {
    grid-template-rows: 40px 1fr;
    /* place-items: center start; */
}

.profile-page h3 {
    padding-left: 25px;
}

.profile-container {
    grid-template-rows: 50px 1fr;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 0 10px;
    margin: 20px;
}

.profile-header {
    grid-template-columns: 40px 1fr;
    place-items: center start;
    gap: 20px;
    border-bottom: 1px solid #000000;
}


.profile-header img {
    width: 100%;
    padding: 5px;
}

.profile-main {
    grid-template-columns: 150px 1fr;
    margin: 10px;
    gap: 10px;
}

.profile-main ul {
    list-style: none;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    height: 75%;
    place-self: center;
}

.profile-data {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.profile-data div {
    grid-template-rows: auto-fit;
    place-items: start;
}

/* Recent acctivity */

.activity-container {
    display: grid;
    gap: 0.5em;
}

.activity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    place-items: start center;
    border-top: 1px solid #000000;
}

/* Payment */

.payments-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 0.5em;
    place-items: center;
}

.payment a {
    display: grid;
    grid-template-rows: 50px 1fr;
    place-items: center;
    font-size: 0.7rem;
}

.payment img {
    width: 2rem;
    height: 2rem;
}

/* Accounts */

.accounts {
    display: grid;
    gap: 0.5em;
}
.accounts div a {
    display: grid;
    place-items:  center start ;
    border-left: 3px solid #000000;
    padding-left: 0.5rem;
    border-bottom:1px solid rgb(239, 239, 239);

    grid-template-columns: 1fr 0.5fr ;
}

/* Paymens page */

.payments-page {
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.payments-page h3 {
    padding-left: 2rem;
}

.payments-page-container {
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 0 10px;
    margin: 20px;
}

.transfer-money-header {
    display: grid;
    place-items: center start;
    border-bottom: 1px solid #000000;
}

.transfer-money-header h4 {
    padding-left: 1rem;
}

.transfer-money-main {

    display: grid;
    place-items: center;
}

.transfer-money-main form {

    display: grid;
    grid-auto-flow: row;
    gap: 0.5em;

    padding: 2.7rem 1.8rem;

    border: 1px solid #000000;
    border-radius: 20px;
}

.transfer-money-main form input {
    padding: 0.5em;
}

.form-buttons {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 0.5em;
}

.form-buttons button {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #000000;
}

.form-buttons button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* transactions-page */

.transactions-page {
    display: grid;
    grid-template-rows: 2rem 1fr;
}
.transactions-page h3 {
    padding-left: 2rem;
}

.transactions-container{
    display: grid;
    grid-template-rows: 2.5rem 1fr;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 0 10px;
    margin: 0 20px;
}

.transactions-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center ;
    border-bottom: 1px solid #000000;
}

.transactions-main {
    display: grid;
    grid-auto-flow: row;
    overflow-y: scroll;
    height: 430px;
}

.activity-section::-webkit-scrollbar,
.transactions-main::-webkit-scrollbar {
    display: none;
}
